<body>
    <div class="booking-form__input guests-input p-2">
        <label for="guests-input-btn text-secondary">Guests</label>
        <button name="guests-btn" class="btn" id="guests-input-btn">1 guest</button>
        <div class="guests-input__options" id="guests-input-options">
            <div>
                <span class="guests-input__ctrl minus" id="adults-subs-btn">-</span><!-- /.guests-input__ctrl -->
                <span class="guests-input__value"><span id="guests-count-adults">1</span>Travellers</span>
                <!-- /.guests-input__value -->
                <span class="guests-input__ctrl plus" id="adults-add-btn">+</span><!-- /.guests-input__ctrl -->
            </div>
        </div><!-- /.guests-input__options -->
    </div><!-- /.booking-form__input -->
</body>
