<div id="round-form" class="d-flex align-items-start justify-content-center p-2 gap-3 flex-column">
    <div class="d-flex align-items-center justify-content-start p-2 gap-3">
        <div class="form-floating mb-3">
            <input id="origin2" type="text" list="city3" class="form-control" placeholder="Origin">
            <datalist id="city3">
            </datalist>
            <label for="origin2" class="form-label text-secondary">Origin</label>
        </div>
        <div class="form-floating mb-3">
            <input id="destination2" type="text" list="city4" class="form-control" placeholder="Destination">
            <datalist id="city4">
            </datalist>
            <label for="destination2" class="form-label text-secondary">Destination</label>
        </div>
        <div class="form-floating mb-3">
            <input id="departure" type="date" class="form-control" placeholder="Departure">
            <label for="departure" class="form-label text-secondary">Departure Date</label>
        </div>
        <div class="form-floating mb-3">
            <input id="return" type="date" class="form-control" placeholder="Return">
            <label for="return" class="form-label text-secondary">Return Date</label>
        </div>
    </div>
</div>