<div id="single-form" class="d-flex align-items-start justify-content-center p-2 gap-3 flex-column">
    <div class="d-flex align-items-center justify-content-start p-2 gap-3">
        <div class="form-floating mb-3">
            <input id="origin1" type="text" list="city1" class="form-control" placeholder="Origin">
            <datalist id="city1">
            </datalist>
            <label for="origin1" class="form-label text-secondary">Origin</label>
        </div>
        <div class="form-floating mb-3">
            <input id="destination1" type="text" list="city2" class="form-control" placeholder="Destination">
            <datalist id="city2">
            </datalist>
            <label for="destination1" class="form-label text-secondary">Destination</label>
        </div>
        <div class="form-floating mb-3">
            <input id="departure-s" type="date" class="form-control" placeholder="Departure">
            <label for="departure-s" class="form-label text-secondary">Departure Date</label>
        </div>
    </div>
</div>